<div data-controller="filter" class="filters">
    <form class="d-flex search-form">
        <input class="form-control shadow-none me-2"
               type="text"
               placeholder="Search"
               aria-label="Search">
        <button class="btn btn-outline-secondary shadow-none"
                type="submit"
                data-action="click->filter#search"
        >Search</button>
    </form>
</div>