{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        <div class="jumbotron">
            <h1 class="display-4 text-center">Jazz Standards Guide</h1>
        </div>

        {% include 'home/tabs.html.twig' %}
        {% include 'home/filters.html.twig' %}
        {% include 'home/table.html.twig' %}
        {% include 'home/modals/modals.html.twig' %}

        <p class="table-message display-6 visually-hidden"></p>

    </div>

{% endblock %}