<ul data-controller="tab" class="nav nav-pills main-tabs">
    <li class="nav-item">
        <a class="nav-link active"
           href="#"
           aria-current="page"
           data-action="click->tab#update"
        >Default</a>
    </li>
    <li class="nav-item">
        <a class="nav-link"
           href="#"
           data-action="click->tab#update"
        >Favorites</a>
    </li>
</ul>