@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";

@import "colors";
@import "effects";
@import "table";

body {
    padding-top: 2rem;
    background-color: lightgray;
}

.jumbotron {
    padding-bottom: 2rem;

    h1 {
        font-weight: 600;
    }
}
