/***********
TABLE ROWS
************/

.spotify-track, .spotify-track:hover {
  color: $spotify-color;
}

.tab-link, .info-link {
  color: $base-color;
}

.tab-link:hover, .info-link:hover {
  i {
    color: $base-color;
  }
}

.info-link:hover {
  i.bi-info-circle:before {
    content: "\f430";
  }
}

/************
TABLE FILTERS
*************/

.filters {
  padding-bottom: 2rem;

  .search-input {
    position: relative;

    input {
      padding-right: 1.5em;
    }

    i {
      position: absolute;
      right: 12px;
      font-size: 1.5em;

      top: 50%;
      transform: translateY(-50%);
    }

    i:hover {
      cursor: pointer;
    }
  }
}

/**********
TABLE SORTS
***********/

.standards-table-order {
  padding: 0 .1em;
  color: $base-color;
}

.standards-table-order.active, .standards-table-order:hover {
  i {
    color: $base-color;
  }

  i.bi-arrow-down-circle::before {
    content: "\f118";
  }
  i.bi-arrow-up-circle::before {
    content: "\f139";
  }
}